if config.author
    .copyright
        P
            |Copyright ©2015 <a href="/hlgeek/mypage_cn.html">Hailong Ouyang</a> All Rights Reserved

.power
    p.
        Proudly hosted by 
        <a href="https://github.com/"><img src="/hlgeek/img/footer-logo.png" width="100" height="30" alt="GitHub • Social coding"></a>