.main_a
    .main
        .main_aa
            .text.a
                p 关于ZhomePlus
                |                     智能家居学习分享平台
                br
                | 专业提供嵌入式软件开发服务，软件疑难问题咨询，蓝牙技术支持，智能家居方案设计与采购；致力于营造一种快乐的智能家居设计、学习与服务体验。
        .main_ab
            .main_ab_ul
                .main_ab_li.a
                    a(href='/2016/04/19/softwareservice', title='软件开发外包')
                        img(src='/img/main_ba.png', alt='软件开发外包')
                .text
                    p 软件开发外包
                    |                         Software Service
            .main_ab_ul
                .main_ab_li.b
                    a(href='/2016/04/19/smartdevices', title='智能硬件')
                        img(src='/img/main_bc.png', alt='智能硬件')
                .text
                    p 智能硬件
                    |                         Smart Devices
            .main_ab_ul
                .main_ab_li.a
                    a(href='/2016/04/19/smarthomediy', title='智能家居方案定制')
                        img(src='/img/main_bb.png', alt='智能家居方案定制')
                .text
                    p 智能家居方案定制
                    |                         DIY Smart Home
            .main_ab_ul
                .main_ab_li.a
                    a(href='/2016/04/19/360support', title='360°技术支持')
                        img(src='/img/main_bd.png', alt='360°技术支持')
                .text
                    p 360°技术支持
                    |                         360° Support